h1 + p {
    color:blue
}
li {
    display: inline;
    padding: 10px;
    background-color: yellow; 
  list-style-type: none;
  }
  h1{
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  img{
    width: 150px;
    height: 150px;
}
#project{
  display:flex;
  padding-top:50px;
}

  